@import 'app/styles/variables.scss';

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding: 0 0.5rem;
}

.planets-container {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 750px) {
  .planets-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sort-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .planets-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
