{{page-title 'Home'}}
<main class='main'>
  <p class='description'>Welcome to Kyber crystal. This project is a database of
    the Star Wars universe. It contains extensive information of the planets,
    characters and movies of the saga. Sit down comfortably, fill your glass
    with green milk, and may the force be with you.</p>
  <NavButton class='button' @route='planets'>Planets</NavButton>
  <NavButton class='button'>Residents</NavButton>
</main>
{{outlet}}